{% load static %}

<section id="about-me">
    <div class="vl"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div>
                    <img id="about-img" src="{% static 'img/eu.jpg' %}" alt="">
                </div>
            </div>
            <br>
            <div class="col-md-7 about-right">
                <h1 class="about-header color-3"><b>Despre mine</b></h2>

                <p class="about-text text-black">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nesciunt sint, esse iure eius voluptatibus perspiciatis sequi fuga magni perferendis beatae ratione, nam culpa veritatis dolore sunt ut minus qui Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea delectus doloremque adipisci autem deleniti non nostrum, suscipit soluta perferendis.<br/><br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nesciunt sint, esse iure eius voluptatibus perspiciatis sequi fuga magni perferendis beatae ratione, nam culpa veritatis dolore sunt ut minus qui Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea delectus doloremque adipisci autem deleniti non nostrum, suscipit soluta perferendis.<br/><br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nesciunt sint, esse iure eius voluptatibus perspiciatis sequi fuga magni perferendis beatae ratione, nam culpa veritatis dolore sunt ut minus qui Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ea delectus doloremque adipisci autem deleniti non nostrum, suscipit soluta perferendis.
                </p>
                <h3 class="color-3 social-link-text">
                    <button class="btn btn-danger" href='#contact_header'>Contactează-mă</button>
                </h3>
                <br/><br/>
                <h1 class="about-header color-3">
                    <b>Mă poți găsi pe:</b>
                </p>

                <ul class="about-links">
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>