<h1 id="contact_header"><b>Contact</b></h1>

<div id="form_container">
    <form action="." method="post">
      {% csrf_token %}

    <!--Grid row-->
    <div class="md-form md-outline mb-0">
        <label for="form-last-name">Nume</label>
        <input type="text" id="form-last-name" class="form-control" name="name">
      </div>

    <!-- Material outline input -->
    <div class="md-form md-outline mt-3">
      <label for="form-email">E-mail</label>
      <input type="email" id="form-email" class="form-control" name="email">
    </div>

    <!-- Material outline input -->
    <div class="md-form md-outline">
      <label for="form-subject">Subiect</label>
      <input type="text" id="form-subject" class="form-control" name="subject">
    </div>

    <!--Material textarea-->
    <div class="md-form md-outline mb-3">
      <label for="form-message">Cu ce te pot ajuta?</label>
      <textarea id="form-message" class="md-textarea form-control" rows="3" name="message"></textarea>
    </div>

    <button type="submit" class="btn btn-danger">Trimite mesaj    <i class="far fa-paper-plane ml-2"></i></button>

  </div>
  <!--Grid column-->
  </form>
</div>