{% load static %}

<header>
    <img src="{% static 'img/sky.png' %}" id="sky" alt="">
    <img src="{% static 'img/dealuri.png' %}" id="hills" alt="">
    <img src="{% static 'img/flori.png' %}" id="flowers" alt="">
    <h2 id="text">Bianca Neacșu</h2>
</header>

<script type="text/javascript">
    let sky = document.getElementById("sky");
    let hills = document.getElementById("hills");
    let flowers = document.getElementById("flowers");
    let text = document.getElementById("text");

    window.addEventListener('scroll', function(){
        var value = window.scrollY;
        hills.style.top = -value * 0.15 + 'px';
        flowers.style.top = (value * 0.035) + 400 + 'px';
        text.style.top = value * 0.3 + 'px';
    })
</script>